 {{ define "content" }}
 
 <h1>Swarm index of {{ .URI }}</h1>
  <hr>
  <table>
    <thead>
      <tr>
	<th>Path</th>
	<th>Type</th>
	<th>Size</th>
      </tr>
    </thead>

    <tbody>
      {{ range .List.CommonPrefixes }}
	<tr>
	  <td><a href="{{ basename . }}/">{{ basename . }}/</a></td>
	  <td>DIR</td>
	  <td>-</td>
	</tr>
      {{ end }}

      {{ range .List.Entries }}
	<tr>
	  <td><a href="{{ basename .Path }}">{{ basename .Path }}</a></td>
	  <td>{{ .ContentType }}</td>
	  <td>{{ .Size }}</td>
	</tr>
      {{ end }}
  </table>
  <hr>

  {{ end }}