<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" ww="chrome=1"/>
    <meta name="description" content="{DESCRIPTION}"/>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    
    <link rel="shortcut icon"type="image/x-icon" href="{{.Favicon}}">

  </head>

  <body>
    {{ template "content" . }}
  </body>

</html>
